<main class="max-w-screen-lg mx-auto px-[5%] py-8 space-y-16 print:px-0">
  {% include './about-me/about-me.njk' %}
  {% include './skills/skills.njk' %}
  {% include './experience/experience.njk' %}
  {% include './education/education.njk' %}
</main>
