<section>
  <h2 class="pb-2 border-b border-gray-500">About Me</h2>
  <div class="prose mt-8 max-w-none font-light text-xl">
    <!-- prettier-ignore -->
    {% set aboutMe = collections['about-me'] | first %}
    {{ aboutMe.templateContent | safe }}
  </div>
</section>
