@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #323232;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
    font-weight: 500;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-2xl;
  }

  @media print {
    *:before,
    *:after {
      color-adjust: exact !important;
      -webkit-print-color-adjust: exact !important;
    }

    html,
    body {
      width: 100%;
      min-height: 100%;
      font-size: 10pt !important;
      overflow: visible;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }

    h1,
    h2,
    h3 {
      page-break-after: avoid;
    }

    .print-button {
      display: none;
    }
  }
}

@layer components {
  .fading-end {
    background: linear-gradient(to top, #818a9100 0, #818a91 100px, #818a91 100%);
  }

  .page-break-inside-avoid {
    page-break-inside: avoid;
  }

  .-translate-9\/10 {
    transform: translateX(-90%);
  }
}
