<footer class="bg-[#eceeef]">
  <div class="max-w-screen-lg mx-auto px-[5%] py-8 flex flex-wrap justify-between print:px-0">
    <p>&copy; {{ me.name }}</p>
    <p>Last updated: {{ build.timestamp | formatDate('dd.MM.yyyy') }}</p>
  </div>
</footer>
