<header class="relative flex flex-wrap max-w-screen-lg mx-auto px-[5%] py-8 print:px-0">
  <a
    class="
      print-button
      absolute
      right-1/20
      p-3
      rounded-full
      text-primary
      transition
      hover:bg-primary hover:text-white
    "
    aria-label="Print Resume"
    href="javascript:window.print();"
  >
    <span class="flex justify-center w-5 h-5 fill-current"> {% svg 'solid/print' %} </span>
  </a>
  {% set avatarUrl %}/assets/images/{{ me.avatar }}{% endset %}
  <img
    class="
      w-44
      h-44
      mr-8
      border-2 border-gray-600
      rounded-full
      shadow-2xl
      print:border-0 print:shadow-none
    "
    src="{{ avatarUrl | url }}"
    width="176"
    height="176"
    alt="{{ me.name }}"
  />
  <div class="mt-4">
    <h1>{{ me.name }}</h1>
    <p class="font-light leading-loose text-xl">{{ me.occupation }} &middot; {{ me.location }}</p>
    <div class="mt-4 leading-relaxed text-primary">
      <a
        class="flex items-center space-x-2 sm:inline-flex sm:mr-4"
        aria-label="Email"
        href="mailto:{{ me.email | obfuscate | safe }}"
      >
        <span class="flex justify-center w-5 h-5 fill-current">{% svg "solid/envelope" %}</span>
        <span>{{ me.email | obfuscate | safe }}</span>
      </a>
      <a
        class="flex items-center space-x-2 sm:inline-flex sm:mr-4"
        aria-label="Website"
        href="{{ me.website }}"
      >
        <span class="flex justify-center w-5 h-5 fill-current">{% svg "solid/globe" %}</span>
        <span>{{ me.website | stripProtocol }}</span>
      </a>
    </div>
    <div class="leading-relaxed text-primary">
      {% for social in me.social %}
      <a
        class="flex items-center space-x-2 sm:inline-flex sm:mr-4"
        aria-label="{{ social.user }} on {{ social.name }}"
        href="{{ social.url }}"
        target="_blank"
        rel="author"
      >
        {% set icon %}brands/{{ social.name | lower }}{% endset %}
        <span class="flex justify-center w-5 h-5 fill-current">{% svg icon %}</span>
        <span>{{ social.user }}</span>
      </a>
      {% endfor %}
    </div>
  </div>
</header>
